form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border: 1px solid tomato;
    background-color: tomato;
    border-radius: 20px;
    box-shadow: -6px 8px rgb(252, 120, 97),
                -12px 16px rgb(248, 62, 30),
                -18px 24px rgb(248, 158, 142),
                -24px 32px rgb(253, 121, 98);
}

form * {
    margin: 2rem
}

form input {
    padding: 0.5rem;
    background: white;
    border: 1px solid tomato;
    border-radius: 5px;
}

form input[type="submit"] {
    border: none; 
    background-color: white;
    color: rgb(40, 40, 40);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: box-shadow 70ms ease-in-out;
}

form input[type="submit"]:hover { 
    box-shadow: -6px 8px rgb(255, 177, 163);
}

form input[type="submit"]:active {
    box-shadow: -1px 2px rgb(255, 177, 163);
}


.message {
    height: 100px;
}